<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="zebraDomain.zebraDomain.TestCases.TC_howDoI_002"/>
      <class name="zebraDomain.zebraDomain.TestCases.TC_CalendarIcon_005"/>
      <class name="zebraDomain.zebraDomain.TestCases.TC_Grantt_004"/>
      <class name="zebraDomain.zebraDomain.TestCases.TC_smartSearch_003"/>
      <class name="zebraDomain.zebraDomain.TestCases.TC_Report_check_006"/>
      <class name="zebraDomain.zebraDomain.TestCases.AppTest"/>
      <class name="zebraDomain.zebraDomain.TestCases.TC_login_001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
